body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif !important;
  box-sizing: border-box;
  background: #ECE9E6;
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  overflow-x: hidden;
}